html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
  background-color: var(--font); 
  color: black;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

:root  {
  --firstPrimary: #464D77;
  --firstSecondary: #181f44;
  --primary: rgb(247, 163, 37);
  --secondary: rgb(197, 128, 23);
  --font: #ffffff;
}

@keyframes subButton {
  from {
    width: 0%;
  }
  to {
    width: 100%;
  }
}

.errorMessage {
  color: red;
  font-size: 18px;
  margin: 10px;
}